<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssm.quadrah.diymarket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.ssm.quadrah.diymarket.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ssm.quadrah.diymarket.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"        
        android:largeHeap="true"
        android:theme="@style/StyledIndicators" android:name="DesignerAccount">
        <activity
            android:name="com.ssm.quadrah.diymarket.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="MarketMenu"
            android:theme="@style/MyTheme"            
            android:parentActivityName="com.ssm.quadrah.diymarket.MainActivity"
            android:label="@string/app_name" />
        <activity android:name="com.ssm.quadrah.diymarket.content.MarketMenuLayout"
            android:icon="@drawable/btn_home"            
            android:parentActivityName="MarketMenu"></activity>
        <activity
            android:name="com.ssm.quadrah.diymarket.register.MarketRegister"
            android:icon="@drawable/ic_action_previous_item"
            android:theme="@style/Theme.CustomRegisterStyle" />
        <activity android:name="com.ssm.quadrah.diymarket.profile.DesignerProfile"
            android:icon="@drawable/btn_home"
            android:parentActivityName="MarketMenu"></activity>
        <activity
            android:name="com.ssm.quadrah.diymarket.content.ItemsPackage"
            android:theme="@style/Theme.CustomTranslucent" />
        <activity
            android:name="com.ssm.quadrah.diymarket.content.ImageActivity"
            android:label="Selected Image"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.ssm.quadrah.diymarket.profile.DesignerProfileEdit"   
                     
            android:parentActivityName="com.ssm.quadrah.diymarket.profile.DesignerProfile"></activity>
        <activity
            android:name="com.ssm.quadrah.diymarket.profile.DesignerProfileName"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.ssm.quadrah.diymarket.profile.DesignerProfileState"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name="com.ssm.quadrah.diymarket.register.EditTool" />
        
        

        <service android:name=".GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.ssm.quadrah.diymarket" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.ssm.quadrah.diymarket" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTop" />
        <activity android:name=".designeditor.DesignEditorTool"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity android:name=".example.SpenProgramGuide"></activity>
        <activity android:name=".example.QHSample_Sticker"></activity>
        <activity android:name=".example.QHSample_Background"></activity>
        <activity android:name=".example.QHSample_Layout"></activity>
        <activity android:name=".example.QHSample_Frame"></activity>

    </application>

</manifest>